html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

.rasporka {
    height: 70px;
}

.footer {
    clear:both;
    height: 70px;
    margin-top: -70px;
    background-color: rgba(25, 188, 156, 1);
    padding-top: 10px;
}

.footer-title {
    margin-left: 20px;
}

.footer-menu {
    text-align: right;
    margin-right: 20px;
}

.footer a {
    color: #163758;
}

.rights {
    margin-left: 20px;
    margin-top: 20px;
}

/*blog*/

.post_title {
    margin-top: 0px;
}

/*feedback*/

.feedback-comment {
    margin-top: 10px;
    color: rgba(24, 188, 156, 0.8);
    text-align: right;
}