html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

@media screen and (max-width: 1920px) {
    .footer-menu {
        text-align: right;
        margin-right: 20px;
        margin-bottom: 60px;
    }

    .rasporka {
        height: 70px;
    }

    .footer {
        clear:both;
        height: 70px;
        margin-top: -70px;
        background-color: rgba(25, 188, 156, 1);
        padding-top: 10px;
    }

    .footer-title {
        margin-left: 20px;
    }
}

@media screen and (max-width: 768px) {
    .footer-menu {
        text-align: center;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .rasporka {
        height: 90px;
    }

    .footer {
        clear:both;
        height: 90px;
        margin-top: -90px;
        background-color: rgba(25, 188, 156, 1);
        padding-top: 10px;
    }

    .footer-title {
        margin-left: 20px;
    }
}

.footer a {
    color: #163758;
}

.rights {
    margin-left: 20px;
    margin-top: 20px;
}

/*blog*/

.post_title {
    margin-top: 0px;
}

/*feedback*/

.feedback-comment {
    margin-top: 10px;
    color: rgba(24, 188, 156, 0.8);
    text-align: right;
}